tools/docgen/schema.xsd

<!--
schema.xsd
Generated by xsdgen 1.0.0 at 2020-07-27T03:30:37Z
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:def="http://gknowles.github.io/dimapp/tools/docgen/schema.xsd" targetNamespace="http://gknowles.github.io/dimapp/tools/docgen/schema.xsd" elementFormDefault="qualified">
<element name="Docs" type="def:tSchema"/>
<complexType name="tDocs">
<annotation>
<documentation>Top level element.</documentation>
</annotation>
<choice minOccurs="0" maxOccurs="unbounded">
<element name="GitHub" type="def:tGitHub" minOccurs="0"/>
<element name="Page" type="def:tPage" minOccurs="0" maxOccurs="unbounded"/>
<element name="Nav" type="def:tNav" minOccurs="0"/>
</choice>
<attribute name="siteName">
<annotation>
<documentation>Name of site displayed on title bar</documentation>
</annotation>
<simpleType>
<restriction base="string"/>
</simpleType>
</attribute>
<attribute name="srcDir">
<annotation>
<documentation>Location of root directory source files are relative to.</documentation>
</annotation>
<simpleType>
<restriction base="string"/>
</simpleType>
</attribute>
<attribute name="outDir">
<simpleType>
<restriction base="string"/>
</simpleType>
</attribute>
</complexType>
<complexType name="tGitHub">
<complexContent>
<extension base="anyType">
<attribute name="repoUrl" use="required">
<simpleType>
<restriction base="string"/>
</simpleType>
</attribute>
</extension>
</complexContent>
</complexType>
<complexType name="tPage">
<sequence>
<element name="Column" type="def:tColumn" minOccurs="0" maxOccurs="unbounded"/>
</sequence>
<attribute name="style">
<simpleType>
<restriction base="string"/>
</simpleType>
</attribute>
</complexType>
<complexType name="tColumn">
<complexContent>
<extension base="anyType">
<attribute name="content">
<simpleType>
<restriction base="string"/>
</simpleType>
</attribute>
<attribute name="maxWidth">
<simpleType>
<restriction base="string"/>
</simpleType>
</attribute>
</extension>
</complexContent>
</complexType>
<complexType name="tNav">
<sequence>
<element name="Page" type="def:tPage-2" minOccurs="0" maxOccurs="unbounded"/>
</sequence>
</complexType>
<complexType name="tPage-2">
<complexContent>
<extension base="anyType">
<attribute name="name">
<simpleType>
<restriction base="string"/>
</simpleType>
</attribute>
<attribute name="file">
<simpleType>
<restriction base="string"/>
</simpleType>
</attribute>
<attribute name="style">
<simpleType>
<restriction base="string"/>
</simpleType>
</attribute>
</extension>
</complexContent>
</complexType>
</schema>
