tools/xsdgen/schema.xsd

<!--
schema.xsd
Generated by xsdgen 1.0.0 at 2018-03-22T10:39:56-07:00
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:def="http://github.com/gknowles/dimapp/xsdgen.xsd" targetNamespace="http://github.com/gknowles/dimapp/xsdgen.xsd" elementFormDefault="qualified">
<element name="Schema" type="def:tSchema"/>
<complexType name="tSchema">
<annotation>
<documentation>Top level element.</documentation>
</annotation>
<choice minOccurs="0" maxOccurs="unbounded">
<element name="Output" type="def:tOutput"/>
<element name="Overview" type="def:tOverview" minOccurs="0"/>
<element name="Root" type="def:tRoot"/>
<element name="Content" type="def:tContent" minOccurs="0" maxOccurs="unbounded"/>
</choice>
</complexType>
<complexType name="tOutput">
<annotation>
<documentation>Outputs to be generated.</documentation>
</annotation>
<complexContent>
<extension base="anyType">
<attribute name="xsdNamespace" use="required">
<annotation>
<documentation>Target namespace of generated xsd.</documentation>
</annotation>
<simpleType>
<restriction base="string"/>
</simpleType>
</attribute>
</extension>
</complexContent>
</complexType>
<complexType name="tOverview">
<annotation>
<documentation>Overall structure and purpose of the schema.</documentation>
</annotation>
<simpleContent>
<extension base="string"/>
</simpleContent>
</complexType>
<complexType name="tRoot">
<annotation>
<documentation>Root element of schema being defined.</documentation>
</annotation>
<choice minOccurs="0" maxOccurs="unbounded">
<element name="Overview" type="def:tOverview-2" minOccurs="0"/>
<element name="Enum" type="def:tEnum" minOccurs="0" maxOccurs="unbounded"/>
<element name="Attr" type="def:tAttr" minOccurs="0" maxOccurs="unbounded"/>
<element name="Note" type="def:tNote" minOccurs="0" maxOccurs="unbounded"/>
<element name="Element" type="def:tElement"/>
</choice>
<attribute name="id">
<annotation>
<documentation>Unique key used to reference this Element's content.</documentation>
</annotation>
<simpleType>
<restriction base="string"/>
</simpleType>
</attribute>
<attribute name="ref">
<annotation>
<documentation>Use content definition of referenced element.</documentation>
</annotation>
<simpleType>
<restriction base="string"/>
</simpleType>
</attribute>
<attribute name="name">
<annotation>
<documentation>Name of root element.</documentation>
</annotation>
<simpleType>
<restriction base="string"/>
</simpleType>
</attribute>
<attribute name="content">
<annotation>
<documentation>Type of content contained by element</documentation>
</annotation>
<simpleType>
<restriction base="string">
<enumeration value="bool">
<annotation>
<documentation>Must be 'true', 'false', '1', or '0'</documentation>
</annotation>
</enumeration>
<enumeration value="enum">
<annotation>
<documentation>One of a preset list of values.</documentation>
</annotation>
</enumeration>
<enumeration value="string">
<annotation>
<documentation>Text content, including CDATA.</documentation>
</annotation>
</enumeration>
<enumeration value="unsigned">
<annotation>
<documentation>Positive integer less than 2^32</documentation>
</annotation>
</enumeration>
<enumeration value="xml">
<annotation>
<documentation>Specific XML nodes, not mixed content.</documentation>
</annotation>
</enumeration>
</restriction>
</simpleType>
</attribute>
<attribute name="default">
<simpleType>
<restriction base="string"/>
</simpleType>
</attribute>
<attribute name="desc">
<simpleType>
<restriction base="string"/>
</simpleType>
</attribute>
</complexType>
<complexType name="tOverview-2">
<simpleContent>
<extension base="string"/>
</simpleContent>
</complexType>
<complexType name="tEnum">
<annotation>
<documentation>Individual enum value.</documentation>
</annotation>
<complexContent>
<extension base="anyType">
<attribute name="name" use="required">
<simpleType>
<restriction base="string"/>
</simpleType>
</attribute>
<attribute name="desc">
<simpleType>
<restriction base="string"/>
</simpleType>
</attribute>
</extension>
</complexContent>
</complexType>
<complexType name="tAttr">
<choice minOccurs="0" maxOccurs="unbounded">
<element name="Overview" type="def:tOverview-3" minOccurs="0"/>
<element name="Enum" type="def:tEnum-2" minOccurs="0" maxOccurs="unbounded"/>
<element name="Note" type="def:tNote-2" minOccurs="0" maxOccurs="unbounded"/>
</choice>
<attribute name="name" use="required">
<simpleType>
<restriction base="string"/>
</simpleType>
</attribute>
<attribute name="content" use="required">
<simpleType>
<restriction base="string">
<enumeration value="bool">
<annotation>
<documentation>Must be 'true', 'false', '1', or '0'</documentation>
</annotation>
</enumeration>
<enumeration value="enum">
<annotation>
<documentation>One of a preset list of values.</documentation>
</annotation>
</enumeration>
<enumeration value="string">
<annotation>
<documentation>Text content, including CDATA.</documentation>
</annotation>
</enumeration>
<enumeration value="unsigned">
<annotation>
<documentation>Integer in [0, 2^32)</documentation>
</annotation>
</enumeration>
</restriction>
</simpleType>
</attribute>
<attribute name="require">
<simpleType>
<restriction base="boolean"/>
</simpleType>
</attribute>
<attribute name="default">
<simpleType>
<restriction base="string"/>
</simpleType>
</attribute>
<attribute name="desc">
<simpleType>
<restriction base="string"/>
</simpleType>
</attribute>
</complexType>
<complexType name="tOverview-3">
<simpleContent>
<extension base="string"/>
</simpleContent>
</complexType>
<complexType name="tEnum-2">
<annotation>
<documentation>Individual enum value.</documentation>
</annotation>
<complexContent>
<extension base="anyType">
<attribute name="name" use="required">
<simpleType>
<restriction base="string"/>
</simpleType>
</attribute>
<attribute name="desc">
<simpleType>
<restriction base="string"/>
</simpleType>
</attribute>
</extension>
</complexContent>
</complexType>
<complexType name="tNote-2">
<annotation>
<documentation>Descriptive note that applies to one or more attributes.</documentation>
</annotation>
<complexContent>
<extension base="anyType">
<attribute name="column" use="required">
<simpleType>
<restriction base="string">
<enumeration value="name"/>
<enumeration value="content"/>
<enumeration value="desc"/>
<enumeration value="require"/>
</restriction>
</simpleType>
</attribute>
<attribute name="text" use="required">
<annotation>
<documentation>Text of the note.</documentation>
</annotation>
<simpleType>
<restriction base="string"/>
</simpleType>
</attribute>
</extension>
</complexContent>
</complexType>
<complexType name="tNote">
<complexContent>
<extension base="anyType">
<attribute name="column" use="required">
<simpleType>
<restriction base="string">
<enumeration value="name"/>
<enumeration value="content"/>
<enumeration value="desc"/>
<enumeration value="quantity"/>
<enumeration value="default"/>
</restriction>
</simpleType>
</attribute>
<attribute name="text" use="required">
<simpleType>
<restriction base="string"/>
</simpleType>
</attribute>
</extension>
</complexContent>
</complexType>
<complexType name="tElement">
<annotation>
<documentation>Descendant element.</documentation>
</annotation>
<choice minOccurs="0" maxOccurs="unbounded">
<element name="Overview" type="def:tOverview-2" minOccurs="0"/>
<element name="Enum" type="def:tEnum" minOccurs="0" maxOccurs="unbounded"/>
<element name="Attr" type="def:tAttr" minOccurs="0" maxOccurs="unbounded"/>
<element name="Note" type="def:tNote" minOccurs="0" maxOccurs="unbounded"/>
<element name="Element" type="def:tElement"/>
</choice>
<attribute name="id">
<annotation>
<documentation>Unique key used to reference this Element's content.</documentation>
</annotation>
<simpleType>
<restriction base="string"/>
</simpleType>
</attribute>
<attribute name="ref">
<annotation>
<documentation>Use content definition of referenced element.</documentation>
</annotation>
<simpleType>
<restriction base="string"/>
</simpleType>
</attribute>
<attribute name="name">
<annotation>
<documentation>Name of root element.</documentation>
</annotation>
<simpleType>
<restriction base="string"/>
</simpleType>
</attribute>
<attribute name="content">
<annotation>
<documentation>Type of content contained by element</documentation>
</annotation>
<simpleType>
<restriction base="string">
<enumeration value="bool">
<annotation>
<documentation>Must be 'true', 'false', '1', or '0'</documentation>
</annotation>
</enumeration>
<enumeration value="enum">
<annotation>
<documentation>One of a preset list of values.</documentation>
</annotation>
</enumeration>
<enumeration value="string">
<annotation>
<documentation>Text content, including CDATA.</documentation>
</annotation>
</enumeration>
<enumeration value="unsigned">
<annotation>
<documentation>Positive integer less than 2^32</documentation>
</annotation>
</enumeration>
<enumeration value="xml">
<annotation>
<documentation>Specific XML nodes, not mixed content.</documentation>
</annotation>
</enumeration>
</restriction>
</simpleType>
</attribute>
<attribute name="default">
<simpleType>
<restriction base="string"/>
</simpleType>
</attribute>
<attribute name="desc">
<simpleType>
<restriction base="string"/>
</simpleType>
</attribute>
<attribute name="require">
<simpleType>
<restriction base="boolean"/>
</simpleType>
</attribute>
<attribute name="single">
<simpleType>
<restriction base="boolean"/>
</simpleType>
</attribute>
</complexType>
<complexType name="tContent">
<annotation>
<documentation>Partial definitions that can be inherited</documentation>
</annotation>
<complexContent>
<extension base="anyType"/>
</complexContent>
</complexType>
</schema>
